.root {
  background: grey;
}

.wrap {
  max-width: 1000px;
  display: flex;
  margin: auto;
}

.logo {
  color: antiquewhite;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
